@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        
      <a href="~/Views/Pies/Index.cshtml"><img src="~/Content/Images/PieLogo.jpg" /> </a> <!-- link to view?? -->

    </div>
    <div class="col-md-4"></div>
</div>